# Introduction

On va étudier un jeu de données contenant différentes infos autour des retards d'avion aux Etats-Unis en mai 2006. On utilise principalement pandas qui est un module Python dédié à la manipulation de données de grandes dimensions : https://pandas.pydata.org/pandas-docs/stable/ (la doc est votre amie !)

# Import du module

In [1]:
import pandas as pd

# Lecture des données
La méthode read_csv permet d'importer les données depuis un fichier csv. L'option index_col=0 indique que la première colonne du fichier sera l'index de notre DataFrame, et non une colonne comme les autres. Le DataFrame est la structure de données principale du module pandas : https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html

In [12]:
df = pd.read_csv("datas.csv", index_col=0)

# Aperçu du tableau
Les méthodes head et tail permettent respectivement de visualiser les n premières et dernières lignes d'un DataFrame. Par défaut, n vaut 5 mais on peut choisir le nombre de lignes que l'on veut afficher

In [13]:
df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,2006,5,8,1,705.0,700,917.0,915,US,560,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,2006,5,10,3,705.0,700,920.0,915,US,560,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,2006,5,12,5,700.0,700,922.0,915,US,560,...,8,11,0,NaN,0,0,0,0,0,0
Vol_3,2006,5,14,7,700.0,700,910.0,915,US,560,...,5,5,0,NaN,0,0,0,0,0,0
Vol_4,2006,5,16,2,724.0,700,921.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
Vol_5,2006,5,18,4,658.0,700,909.0,915,US,560,...,6,12,0,NaN,0,0,0,0,0,0
Vol_6,2006,5,20,6,657.0,700,908.0,915,US,560,...,3,11,0,NaN,0,0,0,0,0,0
Vol_7,2006,5,22,1,653.0,700,904.0,915,US,560,...,3,9,0,NaN,0,0,0,0,0,0
Vol_8,2006,5,24,3,658.0,700,914.0,915,US,560,...,4,9,0,NaN,0,0,0,0,0,0
Vol_9,2006,5,26,5,800.0,700,1017.0,915,US,560,...,9,11,0,NaN,0,60,0,2,0,0

In [14]:
df.tail(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_301450,2006,5,31,3,1922.0,1858,2151.0,2122,DL,371,...,7,12,0,NaN,0,24,0,5,0,0
Vol_301451,2006,5,31,3,1501.0,1504,1841.0,1826,DL,373,...,7,40,0,NaN,0,0,0,15,0,0
Vol_301452,2006,5,31,3,1851.0,1850,2024.0,2033,DL,376,...,6,18,0,NaN,0,0,0,0,0,0
Vol_301453,2006,5,31,3,640.0,645,1408.0,1400,DL,378,...,8,41,0,NaN,0,0,0,0,0,0
Vol_301454,2006,5,31,3,1151.0,1020,1833.0,1710,DL,379,...,11,16,0,NaN,0,83,0,0,0,0
Vol_301455,2006,5,31,3,1838.0,1842,1943.0,1945,DL,384,...,12,16,0,NaN,0,0,0,0,0,0
Vol_301456,2006,5,31,3,640.0,645,1307.0,1318,DL,385,...,5,13,0,NaN,0,0,0,0,0,0
Vol_301457,2006,5,31,3,1222.0,1155,1422.0,1345,DL,387,...,11,24,0,NaN,0,27,0,10,0,0
Vol_301458,2006,5,31,3,1830.0,1800,2057.0,2037,DL,389,...,9,25,0,NaN,0,0,0,17,0,3
Vol_301459,2006,5,31,3,1615.0,1615,1755.0,1804,DL,392,...,6,14,0,NaN,0,0,0,0,0,0

# Liste des colonnes
l'attribut columns permet de récupérer la liste des colonnes d'un DataFrame

In [15]:
df.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime',
       'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum',
       'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay',
       'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut',
       'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay',
       'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay'],
      dtype='object')

# Dimensions du tableau
l'attribut shape permet de récupérer les dimensions du tableau. La première valeur est lenombre de lignes, la seonde le nombre de colonnes (c'est un tuple, cf cours précédent)

In [16]:
df.shape

(301460, 29)

# Type des données
l'attribut dtypes permet de récupérer les dtypes de chaque colonne

In [17]:
df.dtypes

Year                   int64
Month                  int64
DayofMonth             int64
DayOfWeek              int64
DepTime              float64
CRSDepTime             int64
ArrTime              float64
CRSArrTime             int64
UniqueCarrier         object
FlightNum              int64
TailNum               object
ActualElapsedTime    float64
CRSElapsedTime       float64
AirTime              float64
ArrDelay             float64
DepDelay             float64
Origin                object
Dest                  object
Distance               int64
TaxiIn                 int64
TaxiOut                int64
Cancelled              int64
CancellationCode      object
Diverted               int64
CarrierDelay           int64
WeatherDelay           int64
NASDelay               int64
SecurityDelay          int64
LateAircraftDelay      int64
dtype: object

# Premier exercice (ne vous inquiétez pas il est facile !)
Cherchez dans la doc et utilisez l'attribut qui permet d'accéder à l'index du DataFrame

In [18]:
df.index

Index(['Vol_0', 'Vol_1', 'Vol_2', 'Vol_3', 'Vol_4', 'Vol_5', 'Vol_6', 'Vol_7',
       'Vol_8', 'Vol_9',
       ...
       'Vol_301450', 'Vol_301451', 'Vol_301452', 'Vol_301453', 'Vol_301454',
       'Vol_301455', 'Vol_301456', 'Vol_301457', 'Vol_301458', 'Vol_301459'],
      dtype='object', length=301460)

# Décompte des valeurs présentes
la méthode count permet de compter le nombre de valeurs non-nan pour chaque colonne

In [19]:
df.count()

Year                 301460
Month                301460
DayofMonth           301460
DayOfWeek            301460
DepTime              297914
CRSDepTime           301460
ArrTime              297324
CRSArrTime           301460
UniqueCarrier        301460
FlightNum            301460
TailNum              301460
ActualElapsedTime    297324
CRSElapsedTime       301460
AirTime              297324
ArrDelay             297324
DepDelay             297914
Origin               301460
Dest                 301460
Distance             301460
TaxiIn               301460
TaxiOut              301460
Cancelled            301460
CancellationCode       3546
Diverted             301460
CarrierDelay         301460
WeatherDelay         301460
NASDelay             301460
SecurityDelay        301460
LateAircraftDelay    301460
dtype: int64

# Première infos statistiques
la méthode describe donne de premières infos de statistiques descriptives par colonne

In [20]:
df.describe()

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,FlightNum,ActualElapsedTime,...,Distance,TaxiIn,TaxiOut,Cancelled,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
count,301460.0,301460.0,301460.000000,301460.000000,297914.000000,301460.000000,297324.000000,301460.000000,301460.000000,297324.000000,...,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000,301460.000000
mean,2006.0,5.0,15.928073,3.743601,1338.087599,1330.788725,1486.539930,1494.931002,2207.965889,125.134967,...,730.104979,6.797406,15.426965,0.011763,0.001957,2.879888,0.541531,3.194497,0.014264,4.011441
std,0.0,0.0,8.946855,1.985304,473.382507,460.417894,496.297795,476.034379,2025.136577,71.050381,...,577.823534,29.621836,10.887856,0.107817,0.044196,17.168730,7.330082,14.445620,0.799616,18.106906
min,2006.0,5.0,1.000000,1.000000,1.000000,10.000000,1.000000,1.000000,1.000000,16.000000,...,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.0,5.0,8.000000,2.000000,930.000000,930.000000,1109.000000,1115.000000,576.000000,74.000000,...,316.000000,4.000000,10.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2006.0,5.0,16.000000,4.000000,1327.000000,1323.000000,1516.000000,1520.000000,1476.000000,106.000000,...,576.000000,5.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2006.0,5.0,24.000000,5.000000,1730.000000,1720.000000,1909.000000,1905.000000,3640.000000,155.000000,...,957.000000,7.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2006.0,5.0,31.000000,7.000000,2431.000000,2359.000000,2550.000000,2359.000000,9501.000000,1511.000000,...,4962.000000,1467.000000,292.000000,1.000000,1.000000,1064.000000,646.000000,495.000000,179.000000,515.000000

# Exercice !
Cherchez dans la doc et utilisez les méthodes qui respectivement : renvoie la mémoire utilisée par le DataFrame, supprime les colonnes Year et Month, et trie le DataFrame par FlightNum

In [21]:
df.memory_usage()

Index                2411680
Year                 2411680
Month                2411680
DayofMonth           2411680
DayOfWeek            2411680
DepTime              2411680
CRSDepTime           2411680
ArrTime              2411680
CRSArrTime           2411680
UniqueCarrier        2411680
FlightNum            2411680
TailNum              2411680
ActualElapsedTime    2411680
CRSElapsedTime       2411680
AirTime              2411680
ArrDelay             2411680
DepDelay             2411680
Origin               2411680
Dest                 2411680
Distance             2411680
TaxiIn               2411680
TaxiOut              2411680
Cancelled            2411680
CancellationCode     2411680
Diverted             2411680
CarrierDelay         2411680
WeatherDelay         2411680
NASDelay             2411680
SecurityDelay        2411680
LateAircraftDelay    2411680
dtype: int64

In [22]:
df.drop(['Year', 'Month'], axis=1, inplace=True)

In [23]:
df.sort_values(by='FlightNum')

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_124482,1,1,1009.0,1010,1409.0,1431,UA,1,N215UA,540.0,...,8,19,0,NaN,0,0,0,0,0,0
Vol_225990,22,1,858.0,900,1216.0,1201,AA,1,N332AA,378.0,...,15,24,0,NaN,0,0,0,15,0,0
Vol_225991,24,3,851.0,900,1135.0,1201,AA,1,N319AA,344.0,...,4,24,0,NaN,0,0,0,0,0,0
Vol_225993,29,1,853.0,900,1141.0,1201,AA,1,N322AA,348.0,...,5,21,0,NaN,0,0,0,0,0,0
Vol_225994,31,3,852.0,900,1145.0,1201,AA,1,N321AA,353.0,...,4,27,0,NaN,0,0,0,0,0,0
Vol_176876,31,3,839.0,840,1104.0,1110,HA,1,N588HA,325.0,...,4,15,0,NaN,0,0,0,0,0,0
Vol_258977,17,3,1159.0,1200,1424.0,1438,AS,1,N611AS,205.0,...,6,19,0,NaN,0,0,0,0,0,0
Vol_258978,17,3,1527.0,1520,1615.0,1616,AS,1,N611AS,48.0,...,3,7,0,NaN,0,0,0,0,0,0
Vol_176875,29,1,835.0,840,1051.0,1110,HA,1,N593HA,316.0,...,4,10,0,NaN,0,0,0,0,0,0
Vol_176874,27,6,837.0,840,1053.0,1110,HA,1,N587HA,316.0,...,3,11,0,NaN,0,0,0,0,0,0
Vol_176873,25,4,842.0,840,1107.0,1110,HA,1,N586HA,325.0,...,5,9,0,NaN,0,0,0,0,0,0
Vol_267712,29,1,1058.0,1050,1333.0,1345,B6,1,N506JB,155.0,...,8,13,0,NaN,0,0,0,0,0,0
Vol_176872,23,2,834.0,840,1107.0,1110,HA,1,N589HA,333.0,...,3,13,0,NaN,0,0,0,0,0,0
Vol_176871,21,7,840.0,840,1044.0,1110,HA,1,N586HA,304.0,...,2,8,0,NaN,0,0,0,0,0,0
Vol_225989,20,6,853.0,900,1159.0,1201,AA,1,N323AA,366.0,...,24,22,0,NaN,0,0,0,0,0,0
Vol_176870,19,5,836.0,840,1059.0,1110,HA,1,N586HA,323.0,...,2,15,0,NaN,0,0,0,0,0,0
Vol_176868,15,1,835.0,840,1117.0,1110,HA,1,N587HA,342.0,...,3,14,0,NaN,0,0,0,0,0,0
Vol_176867,13,6,835.0,840,1132.0,1110,HA,1,N589HA,357.0,...,4,21,0,NaN,0,22,0,0,0,0
Vol_176866,11,4,842.0,840,1105.0,1110,HA,1,N593HA,323.0,...,4,12,0,NaN,0,0,0,0,0,0
Vol_176865,9,2,836.0,840,1111.0,1110,HA,1,N591HA,335.0,...,3,9,0,NaN,0,0,0,0,0,0
Vol_176864,7,7,834.0,840,1045.0,1110,HA,1,N590HA,311.0,...,4,11,0,NaN,0,0,0,0,0,0
Vol_176863,5,5,832.0,840,1059.0,1110,HA,1,N584HA,327.0,...,7,15,0,NaN,0,0,0,0,0,0
Vol_176862,3,3,831.0,840,1104.0,1110,HA,1,N591HA,333.0,...,13,16,0,NaN,0,0,0,0,0,0
Vol_267661,29,1,849.0,855,1016.0,1010,B6,1,N506JB,87.0,...,9,14,0,NaN,0,0,0,0,0,0
Vol_176861,1,1,834.0,840,1059.0,1110,HA,1,N581HA,325.0,...,4,11,0,NaN,0,0,0,0,0,0
Vol_16265,30,2,729.0,730,1245.0,1247,US,1,N664AW,196.0,...,4,16,0,NaN,0,0,0,0,0,0
Vol_267464,28,7,847.0,855,1001.0,1010,B6,1,N633JB,74.0,...,4,15,0,NaN,0,0,0,0,0,0
Vol_259283,18,4,810.0,800,1037.0,1049,AS,1,N647AS,327.0,...,6,17,0,NaN,0,0,0,0,0,0
Vol_267269,27,6,912.0,855,1025.0,1010,B6,1,N587JB,73.0,...,7,12,0,NaN,0,0,0,0,0,15
Vol_176869,17,3,834.0,840,1101.0,1110,HA,1,N593HA,327.0,...,3,11,0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Vol_70539,20,6,1255.0,1215,1410.0,1341,YV,7431,N75984,75.0,...,2,11,0,NaN,0,0,0,0,0,29
Vol_73286,27,6,1249.0,1215,1405.0,1341,YV,7431,N75996,76.0,...,3,13,0,NaN,0,24,0,0,0,0
Vol_67782,13,6,1421.0,1415,1526.0,1542,YV,7431,N75994,65.0,...,8,13,0,NaN,0,0,0,0,0,0
Vol_73342,27,6,1424.0,1415,1555.0,1542,YV,7431,N75996,91.0,...,4,14,0,NaN,0,0,0,0,0,0
Vol_70598,20,6,1441.0,1415,1555.0,1542,YV,7431,N75984,74.0,...,7,6,0,NaN,0,0,0,0,0,0
Vol_67722,13,6,1215.0,1215,1338.0,1341,YV,7431,N75994,83.0,...,3,18,0,NaN,0,0,0,0,0,0
Vol_68123,14,7,829.0,830,1012.0,1020,YV,7433,N650ML,103.0,...,8,19,0,NaN,0,0,0,0,0,0
Vol_73805,28,7,1035.0,1050,1205.0,1234,YV,7433,N27185,90.0,...,7,9,0,NaN,0,0,0,0,0,0
Vol_65296,7,7,825.0,830,1013.0,1020,YV,7433,N400MJ,108.0,...,3,27,0,NaN,0,0,0,0,0,0
Vol_71103,21,7,1040.0,1050,1245.0,1234,YV,7433,N570ML,125.0,...,15,13,0,NaN,0,0,0,0,0,0
Vol_64907,6,6,846.0,830,1022.0,1020,YV,7433,N508MJ,96.0,...,2,18,0,NaN,0,0,0,0,0,0
Vol_64170,4,4,1215.0,1215,1310.0,1309,YV,7435,N17217,55.0,...,3,25,0,NaN,0,0,0,0,0,0
Vol_63913,4,4,1356.0,1400,1441.0,1458,YV,7435,N17217,45.0,...,5,10,0,NaN,0,0,0,0,0,0
Vol_65517,8,1,1348.0,1400,1451.0,1458,YV,7435,N77331,63.0,...,8,26,0,NaN,0,0,0,0,0,0
Vol_64322,5,5,1445.0,1400,1650.0,1458,YV,7435,N27191,125.0,...,10,5,0,NaN,0,112,0,0,0,0
Vol_65772,8,1,1208.0,1215,1251.0,1309,YV,7435,N77331,43.0,...,4,17,0,NaN,0,0,0,0,0,0
Vol_66181,9,2,1208.0,1215,1247.0,1309,YV,7435,N75983,39.0,...,3,12,0,NaN,0,0,0,0,0,0
Vol_73645,28,7,1600.0,1600,1655.0,1702,YV,7437,N859MJ,55.0,...,10,9,0,NaN,0,0,0,0,0,0
Vol_70546,20,6,1635.0,1600,1732.0,1702,YV,7437,N860MJ,57.0,...,7,15,0,NaN,0,30,0,0,0,0
Vol_70924,21,7,1600.0,1600,1655.0,1702,YV,7437,N860MJ,55.0,...,7,10,0,NaN,0,0,0,0,0,0
Vol_73293,27,6,1600.0,1600,1700.0,1702,YV,7437,N855MJ,60.0,...,10,18,0,NaN,0,0,0,0,0,0
Vol_67729,13,6,1840.0,1600,1922.0,1702,YV,7437,N855MJ,42.0,...,7,8,0,NaN,0,0,0,0,0,140
Vol_68274,14,7,1730.0,1732,1825.0,1834,YV,7438,N851MJ,55.0,...,9,5,0,NaN,0,0,0,0,0,0
Vol_73429,27,6,1730.0,1732,1820.0,1834,YV,7438,N855MJ,50.0,...,10,8,0,NaN,0,0,0,0,0,0
Vol_73779,28,7,1732.0,1732,1820.0,1834,YV,7438,N859MJ,48.0,...,5,6,0,NaN,0,0,0,0,0,0
Vol_65447,7,7,1732.0,1732,1840.0,1834,YV,7438,N853MJ,68.0,...,8,19,0,NaN,0,0,0,0,0,0
Vol_64882,6,6,1720.0,1720,1909.0,1934,YV,7439,N400MJ,109.0,...,9,13,0,NaN,0,0,0,0,0,0
Vol_68133,14,7,555.0,600,739.0,753,YV,7440,N17175,104.0,...,7,13,0,NaN,0,0,0,0,0,0
Vol_262461,2,2,2237.0,2330,2338.0,100,B6,9500,N603JB,61.0,...,9,13,0,NaN,0,0,0,0,0,0
Vol_262708,3,3,551.0,600,708.0,710,B6,9501,N510JB,77.0,...,4,22,0,NaN,0,0,0,0,0,0

# Accéder à une colonne
On cherche ici à accéder aux données de la colonne UniqueCarrier en particulier. On crée donc la variable extrait qui va contenir ses informations. La variable extrait sera soit une Series soit un DataFrame selon la méthode utilisée. La Series est une structure de données à une dimension, différente du DataFrame : http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.html même si beaucoups d'attributs et de méthodes sont identiques

### par son nom

##### méthode 1

In [24]:
extrait = df.loc[:, 'UniqueCarrier']
print(extrait.head())
print('')
print(type(extrait))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 2

In [25]:
extrait = df.UniqueCarrier
print(extrait.head())
print('')
print(type(extrait))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 3

In [26]:
extrait = df.loc[:, ['UniqueCarrier']]
print(extrait.head())
print('')
print(type(extrait))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

##### méthode 4

In [27]:
extrait = df[['UniqueCarrier']]
print(extrait.head())
print('')
print(type(extrait))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

### par sa position dans la liste des colonnes

##### méthode 1

In [30]:
extrait = df.iloc[:, 6]
print(extrait.head())
print('')
print(type(extrait))

Vol_0    US
Vol_1    US
Vol_2    US
Vol_3    US
Vol_4    US
Name: UniqueCarrier, dtype: object

<class 'pandas.core.series.Series'>

##### méthode 2

In [31]:
extrait = df.iloc[:, [6]]
print(extrait.head())
print('')
print(type(extrait))

      UniqueCarrier
Vol_0            US
Vol_1            US
Vol_2            US
Vol_3            US
Vol_4            US

<class 'pandas.core.frame.DataFrame'>

# Accéder à un ensemble de colonnes
On peut également accéder à un ensemble de colonnes parmi celles du DataFrame d'origine

### Exercice : créer une variable extrait contenant les informations UniqueCarrier, DepTime et ArrTime

In [33]:
extrait = df[['UniqueCarrier', 'DepTime', 'ArrTime']]
print(extrait.head())

      UniqueCarrier  DepTime  ArrTime
Vol_0            US    705.0    917.0
Vol_1            US    705.0    920.0
Vol_2            US    700.0    922.0
Vol_3            US    700.0    910.0
Vol_4            US    724.0    921.0

### Exercice : créer une variable extrait2 contenant les informations CRSDepTime et CRSArrTime

In [34]:
extrait2 = df[['CRSDepTime', 'CRSArrTime']]
print(extrait2.head())

       CRSDepTime  CRSArrTime
Vol_0         700         915
Vol_1         700         915
Vol_2         700         915
Vol_3         700         915
Vol_4         700         915

### Exercice : trouver comment coller extrait et extrait2 en un seul DataFrame (3 méthodes possibles)

In [36]:
collage = extrait.join(extrait2)
print(collage.head())

      UniqueCarrier  DepTime  ArrTime  CRSDepTime  CRSArrTime
Vol_0            US    705.0    917.0         700         915
Vol_1            US    705.0    920.0         700         915
Vol_2            US    700.0    922.0         700         915
Vol_3            US    700.0    910.0         700         915
Vol_4            US    724.0    921.0         700         915

In [37]:
collage = pd.concat([extrait, extrait2], axis=1)
print(collage.head())

      UniqueCarrier  DepTime  ArrTime  CRSDepTime  CRSArrTime
Vol_0            US    705.0    917.0         700         915
Vol_1            US    705.0    920.0         700         915
Vol_2            US    700.0    922.0         700         915
Vol_3            US    700.0    910.0         700         915
Vol_4            US    724.0    921.0         700         915

In [38]:
collage = pd.merge(extrait, extrait2, how='inner', left_index=True, right_index=True)
print(collage.head())

      UniqueCarrier  DepTime  ArrTime  CRSDepTime  CRSArrTime
Vol_0            US    705.0    917.0         700         915
Vol_1            US    705.0    920.0         700         915
Vol_2            US    700.0    922.0         700         915
Vol_3            US    700.0    910.0         700         915
Vol_4            US    724.0    921.0         700         915

# Accéder à une ligne
De la même manière que l'on peut accéder à une colonne ou à une liste de colonnes, on peut également accéder aux lignes que l'on souhaite

### par son nom

In [39]:
df.loc['Vol_0']

DayofMonth                8
DayOfWeek                 1
DepTime                 705
CRSDepTime              700
ArrTime                 917
CRSArrTime              915
UniqueCarrier            US
FlightNum               560
TailNum              N405US
ActualElapsedTime       132
CRSElapsedTime          135
AirTime                 117
ArrDelay                  2
DepDelay                  5
Origin                  PBI
Dest                    DCA
Distance                857
TaxiIn                    6
TaxiOut                   9
Cancelled                 0
CancellationCode        NaN
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Name: Vol_0, dtype: object

### par sa position dans la liste

In [40]:
df.iloc[0]

DayofMonth                8
DayOfWeek                 1
DepTime                 705
CRSDepTime              700
ArrTime                 917
CRSArrTime              915
UniqueCarrier            US
FlightNum               560
TailNum              N405US
ActualElapsedTime       132
CRSElapsedTime          135
AirTime                 117
ArrDelay                  2
DepDelay                  5
Origin                  PBI
Dest                    DCA
Distance                857
TaxiIn                    6
TaxiOut                   9
Cancelled                 0
CancellationCode        NaN
Diverted                  0
CarrierDelay              0
WeatherDelay              0
NASDelay                  0
SecurityDelay             0
LateAircraftDelay         0
Name: Vol_0, dtype: object

# Accéder à un ensemble de lignes

### par leurs noms

In [43]:
df.loc[['Vol_0', 'Vol_1', 'Vol_2']]

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,8,1,705.0,700,917.0,915,US,560,N405US,132.0,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,10,3,705.0,700,920.0,915,US,560,N784AU,135.0,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,12,5,700.0,700,922.0,915,US,560,N421US,142.0,...,8,11,0,NaN,0,0,0,0,0,0

### par leurs positions

In [44]:
df.iloc[[0, 1, 2]]

,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
Vol_0,8,1,705.0,700,917.0,915,US,560,N405US,132.0,...,6,9,0,NaN,0,0,0,0,0,0
Vol_1,10,3,705.0,700,920.0,915,US,560,N784AU,135.0,...,5,10,0,NaN,0,0,0,0,0,0
Vol_2,12,5,700.0,700,922.0,915,US,560,N421US,142.0,...,8,11,0,NaN,0,0,0,0,0,0

### Exercice : extraire les 100 premières lignes dans une nouvelle variable, les 100 dernières dans une autre, et recoller ces deux nouvelles variables en un seul DataFrame de 200 lignes

In [45]:
extrait1 = df.iloc[:100]

In [48]:
extrait2 = df.iloc[-100:]

In [49]:
collage = pd.concat([extrait1, extrait2], axis=0)
print(collage)

            DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
Vol_0                8          1    705.0         700    917.0         915
Vol_1               10          3    705.0         700    920.0         915
Vol_2               12          5    700.0         700    922.0         915
Vol_3               14          7    700.0         700    910.0         915
Vol_4               16          2    724.0         700    921.0         915
Vol_5               18          4    658.0         700    909.0         915
Vol_6               20          6    657.0         700    908.0         915
Vol_7               22          1    653.0         700    904.0         915
Vol_8               24          3    658.0         700    914.0         915
Vol_9               26          5    800.0         700   1017.0         915
Vol_10              28          7    703.0         700    920.0         915
Vol_11              30          2    706.0         700    925.0         915
Vol_12               1          1   1629.0        1635   1825.0        1843
Vol_13               3          3   1639.0        1635   1845.0        1843
Vol_14               5          5   1638.0        1635   1845.0        1843
Vol_15               7          7   1643.0        1635   1902.0        1843
Vol_16               9          2   1642.0        1635   1851.0        1843
Vol_17              11          4   1632.0        1635   1835.0        1843
Vol_18              13          6   1630.0        1635   1833.0        1843
Vol_19              15          1   1710.0        1635   1919.0        1843
Vol_20              17          3   1636.0        1635   1827.0        1843
Vol_21              19          5   1637.0        1635   1832.0        1843
Vol_22              21          7   1633.0        1635   1845.0        1843
Vol_23              23          2   1633.0        1635   1833.0        1843
Vol_24              25          4   1630.0        1635   1838.0        1843
Vol_25              27          6   1631.0        1635   1835.0        1843
Vol_26              29          1   1653.0        1635   1909.0        1843
Vol_27              31          3   1635.0        1635   1849.0        1843
Vol_28               2          2    649.0         650    912.0         907
Vol_29               4          4    650.0         650    909.0         907
...                ...        ...      ...         ...      ...         ...
Vol_301430          31          3    809.0         815    942.0         944
Vol_301431          31          3   1522.0        1525   1656.0        1709
Vol_301432          31          3      NaN         900      NaN        1137
Vol_301433          31          3    802.0         805    950.0         953
Vol_301434          31          3   1300.0        1305   1439.0        1453
Vol_301435          31          3   1440.0        1445   1652.0        1659
Vol_301436          31          3    636.0         640    927.0         945
Vol_301437          31          3   1247.0        1255   1741.0        1755
Vol_301438          31          3    955.0         950   1658.0        1625
Vol_301439          31          3   1908.0        1904   2126.0        2118
Vol_301440          31          3   1804.0        1805   1907.0        1912
Vol_301441          31          3   1524.0        1520   1524.0        1523
Vol_301442          31          3    658.0         700    843.0         830
Vol_301443          31          3    923.0         811   1101.0        1020
Vol_301444          31          3   1706.0        1710   2041.0        2046
Vol_301445          31          3    852.0         900   1057.0        1126
Vol_301446          31          3   2213.0        2035   2315.0        2149
Vol_301447          31          3   1608.0        1545   1931.0        1924
Vol_301448          31          3   1026.0        1030   1128.0        1149
Vol_301449          31          3   1657.0        1651   1643.0        1642
Vol_301450          31          3   1922.0        1858   2151.0        2122
Vol_301451          31          3   1501.0        1504   1841.0        1826
Vol_301452          31          3   1851.0        1850   2024.0        2033
Vol_301453          31          3    640.0         645   1408.0        1400
Vol_301454          31          3   1151.0        1020   1833.0        1710
Vol_301455          31          3   1838.0        1842   1943.0        1945
Vol_301456          31          3    640.0         645   1307.0        1318
Vol_301457          31          3   1222.0        1155   1422.0        1345
Vol_301458          31          3   1830.0        1800   2057.0        2037
Vol_301459          31          3   1615.0        1615   1755.0        1804

           UniqueCarrier  FlightNum TailNum  ActualElapsedTime  \
Vol_0                 US        560  N405US              132.0
Vol_1                 US        560  N784AU              135.0
Vol_2                 US        560  N421US              142.0
Vol_3                 US        560  N435US              130.0
Vol_4                 US        560  N426US              117.0
Vol_5                 US        560  N432US              131.0
Vol_6                 US        560  N435US              131.0
Vol_7                 US        560  N438US              131.0
Vol_8                 US        560  N784AU              136.0
Vol_9                 US        560  N785AU              137.0
Vol_10                US        560  N783AU              137.0
Vol_11                US        560  N432US              139.0
Vol_12                US        566  N733UW              116.0
Vol_13                US        566  N769UW              126.0
Vol_14                US        566  N710UW              127.0
Vol_15                US        566  N712UW              139.0
Vol_16                US        566  N758UW              129.0
Vol_17                US        566  N715UW              123.0
Vol_18                US        566  N114UW              123.0
Vol_19                US        566  N708UW              129.0
Vol_20                US        566  N712UW              111.0
Vol_21                US        566  N737UW              115.0
Vol_22                US        566  N768UW              132.0
Vol_23                US        566  N769UW              120.0
Vol_24                US        566  N701UW              128.0
Vol_25                US        566  N770UW              124.0
Vol_26                US        566  N710UW              136.0
Vol_27                US        566  N732UW              134.0
Vol_28                US        570  N409US              143.0
Vol_29                US        570  N425US              139.0
...                  ...        ...     ...                ...
Vol_301430            DL        244  N954DL               93.0
Vol_301431            DL        246  N951DL               94.0
Vol_301432            DL        271  N918DE                NaN
Vol_301433            DL        277  N3730B              108.0
Vol_301434            DL        299  N966DL               99.0
Vol_301435            DL        301  N989DL              132.0
Vol_301436            DL        330  N376DA              291.0
Vol_301437            DL        339  N913DL              174.0
Vol_301438            DL        340  N662DN              303.0
Vol_301439            DL        345  N123DN              318.0
Vol_301440            DL        348  N957DL               63.0
Vol_301441            DL        349  N903DE               60.0
Vol_301442            DL        351  N6705Y              105.0
Vol_301443            DL        354  N837MH              218.0
Vol_301444            DL        357  N908DA              155.0
Vol_301445            DL        361  N302DL              125.0
Vol_301446            DL        363  N618DL              182.0
Vol_301447            DL        365  N831MH              563.0
Vol_301448            DL        368  N913DL              182.0
Vol_301449            DL        370  N901DL               46.0
Vol_301450            DL        371  N632DL              149.0
Vol_301451            DL        373  N996DL              160.0
Vol_301452            DL        376  N375DA              273.0
Vol_301453            DL        378  N689DL              268.0
Vol_301454            DL        379  N656DL              222.0
Vol_301455            DL        384  N997DL               65.0
Vol_301456            DL        385  N3745B              207.0
Vol_301457            DL        387  N917DL              120.0
Vol_301458            DL        389  N988DL              147.0
Vol_301459            DL        392   N6700              100.0

                  ...          TaxiIn  TaxiOut  Cancelled  CancellationCode  \
Vol_0             ...               6        9          0               NaN
Vol_1             ...               5       10          0               NaN
Vol_2             ...               8       11          0               NaN
Vol_3             ...               5        5          0               NaN
Vol_4             ...               3        9          0               NaN
Vol_5             ...               6       12          0               NaN
Vol_6             ...               3       11          0               NaN
Vol_7             ...               3        9          0               NaN
Vol_8             ...               4        9          0               NaN
Vol_9             ...               9       11          0               NaN
Vol_10            ...               6       11          0               NaN
Vol_11            ...               7        8          0               NaN
Vol_12            ...               2       10          0               NaN
Vol_13            ...               5       10          0               NaN
Vol_14            ...               3       13          0               NaN
Vol_15            ...               4       15          0               NaN
Vol_16            ...               2        9          0               NaN
Vol_17            ...               5       11          0               NaN
Vol_18            ...               4        9          0               NaN
Vol_19            ...               5       11          0               NaN
Vol_20            ...               3        9          0               NaN
Vol_21            ...               3        9          0               NaN
Vol_22            ...              17        9          0               NaN
Vol_23            ...               3       11          0               NaN
Vol_24            ...               4        9          0               NaN
Vol_25            ...               2        9          0               NaN
Vol_26            ...               5       12          0               NaN
Vol_27            ...               4        9          0               NaN
Vol_28            ...               3        9          0               NaN
Vol_29            ...               4       10          0               NaN
...               ...             ...      ...        ...               ...
Vol_301430        ...              14       15          0               NaN
Vol_301431        ...              11       10          0               NaN
Vol_301432        ...               0        0          1                 A
Vol_301433        ...              12       12          0               NaN
Vol_301434        ...               6       11          0               NaN
Vol_301435        ...              10       16          0               NaN
Vol_301436        ...               5       12          0               NaN
Vol_301437        ...               7       13          0               NaN
Vol_301438        ...              21       31          0               NaN
Vol_301439        ...               8       18          0               NaN
Vol_301440        ...               9       13          0               NaN
Vol_301441        ...               4       18          0               NaN
Vol_301442        ...               5       21          0               NaN
Vol_301443        ...               6       14          0               NaN
Vol_301444        ...               9       22          0               NaN
Vol_301445        ...               5       13          0               NaN
Vol_301446        ...               4       23          0               NaN
Vol_301447        ...               7       14          0               NaN
Vol_301448        ...               7       10          0               NaN
Vol_301449        ...               2       13          0               NaN
Vol_301450        ...               7       12          0               NaN
Vol_301451        ...               7       40          0               NaN
Vol_301452        ...               6       18          0               NaN
Vol_301453        ...               8       41          0               NaN
Vol_301454        ...              11       16          0               NaN
Vol_301455        ...              12       16          0               NaN
Vol_301456        ...               5       13          0               NaN
Vol_301457        ...              11       24          0               NaN
Vol_301458        ...               9       25          0               NaN
Vol_301459        ...               6       14          0               NaN

           Diverted CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
Vol_0             0            0             0         0              0
Vol_1             0            0             0         0              0
Vol_2             0            0             0         0              0
Vol_3             0            0             0         0              0
Vol_4             0            0             0         0              0
Vol_5             0            0             0         0              0
Vol_6             0            0             0         0              0
Vol_7             0            0             0         0              0
Vol_8             0            0             0         0              0
Vol_9             0           60             0         2              0
Vol_10            0            0             0         0              0
Vol_11            0            0             0         0              0
Vol_12            0            0             0         0              0
Vol_13            0            0             0         0              0
Vol_14            0            0             0         0              0
Vol_15            0            8             0        11              0
Vol_16            0            0             0         0              0
Vol_17            0            0             0         0              0
Vol_18            0            0             0         0              0
Vol_19            0           28             0         1              0
Vol_20            0            0             0         0              0
Vol_21            0            0             0         0              0
Vol_22            0            0             0         0              0
Vol_23            0            0             0         0              0
Vol_24            0            0             0         0              0
Vol_25            0            0             0         0              0
Vol_26            0           18             0         8              0
Vol_27            0            0             0         0              0
Vol_28            0            0             0         0              0
Vol_29            0            0             0         0              0
...             ...          ...           ...       ...            ...
Vol_301430        0            0             0         0              0
Vol_301431        0            0             0         0              0
Vol_301432        0            0             0         0              0
Vol_301433        0            0             0         0              0
Vol_301434        0            0             0         0              0
Vol_301435        0            0             0         0              0
Vol_301436        0            0             0         0              0
Vol_301437        0            0             0         0              0
Vol_301438        0            0             0        33              0
Vol_301439        0            0             0         0              0
Vol_301440        0            0             0         0              0
Vol_301441        0            0             0         0              0
Vol_301442        0            0             0         0              0
Vol_301443        0           41             0         0              0
Vol_301444        0            0             0         0              0
Vol_301445        0            0             0         0              0
Vol_301446        0           86             0         0              0
Vol_301447        0            0             0         0              0
Vol_301448        0            0             0         0              0
Vol_301449        0            0             0         0              0
Vol_301450        0           24             0         5              0
Vol_301451        0            0             0        15              0
Vol_301452        0            0             0         0              0
Vol_301453        0            0             0         0              0
Vol_301454        0           83             0         0              0
Vol_301455        0            0             0         0              0
Vol_301456        0            0             0         0              0
Vol_301457        0           27             0        10              0
Vol_301458        0            0             0        17              0
Vol_301459        0            0             0         0              0

            LateAircraftDelay
Vol_0                       0
Vol_1                       0
Vol_2                       0
Vol_3                       0
Vol_4                       0
Vol_5                       0
Vol_6                       0
Vol_7                       0
Vol_8                       0
Vol_9                       0
Vol_10                      0
Vol_11                      0
Vol_12                      0
Vol_13                      0
Vol_14                      0
Vol_15                      0
Vol_16                      0
Vol_17                      0
Vol_18                      0
Vol_19                      7
Vol_20                      0
Vol_21                      0
Vol_22                      0
Vol_23                      0
Vol_24                      0
Vol_25                      0
Vol_26                      0
Vol_27                      0
Vol_28                      0
Vol_29                      0
...                       ...
Vol_301430                  0
Vol_301431                  0
Vol_301432                  0
Vol_301433                  0
Vol_301434                  0
Vol_301435                  0
Vol_301436                  0
Vol_301437                  0
Vol_301438                  0
Vol_301439                  0
Vol_301440                  0
Vol_301441                  0
Vol_301442                  0
Vol_301443                  0
Vol_301444                  0
Vol_301445                  0
Vol_301446                  0
Vol_301447                  0
Vol_301448                  0
Vol_301449                  0
Vol_301450                  0
Vol_301451                  0
Vol_301452                  0
Vol_301453                  0
Vol_301454                  0
Vol_301455                  0
Vol_301456                  0
Vol_301457                  0
Vol_301458                  3
Vol_301459                  0

[200 rows x 27 columns]

# Accéder à un ensemble de lignes et colonnes

### par leurs noms

In [50]:
df.loc[['Vol_0', 'Vol_1'], ['UniqueCarrier', 'Distance']]

      UniqueCarrier  Distance
Vol_0            US       857
Vol_1            US       857

### par leurs positions dans la liste

In [52]:
df.iloc[[0, 1], [6, 16]]

      UniqueCarrier  Distance
Vol_0            US       857
Vol_1            US       857

# Extraction conditionnelle

### exemple 1

In [56]:
extrait = df[df.UniqueCarrier == 'AA']
print(extrait.head())

            DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
Vol_225980           2          2    853.0         900   1156.0        1201
Vol_225981           4          4   1146.0         900   1444.0        1201
Vol_225982           6          6    853.0         900   1208.0        1201
Vol_225983           8          1    852.0         900   1144.0        1201
Vol_225984          10          3    852.0         900   1152.0        1201

           UniqueCarrier  FlightNum TailNum  ActualElapsedTime  \
Vol_225980            AA          1  N325AA              363.0
Vol_225981            AA          1  N338AA              358.0
Vol_225982            AA          1  N336AA              375.0
Vol_225983            AA          1  N330AA              352.0
Vol_225984            AA          1  N327AA              360.0

                  ...          TaxiIn  TaxiOut  Cancelled  CancellationCode  \
Vol_225980        ...               7       29          0               NaN
Vol_225981        ...               3       13          0               NaN
Vol_225982        ...               9       26          0               NaN
Vol_225983        ...               8       23          0               NaN
Vol_225984        ...               5       18          0               NaN

           Diverted CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
Vol_225980        0            0             0         0              0
Vol_225981        0          163             0         0              0
Vol_225982        0            0             0         0              0
Vol_225983        0            0             0         0              0
Vol_225984        0            0             0         0              0

            LateAircraftDelay
Vol_225980                  0
Vol_225981                  0
Vol_225982                  0
Vol_225983                  0
Vol_225984                  0

[5 rows x 27 columns]

In [57]:
print(extrait.shape)

(27652, 27)

In [58]:
print(extrait.UniqueCarrier.value_counts())

AA    27652
Name: UniqueCarrier, dtype: int64

### exemple 2

In [59]:
extrait = df[df.CarrierDelay > 10]
print(extrait.head())

         DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
Vol_9            26          5    800.0         700   1017.0         915
Vol_19           15          1   1710.0        1635   1919.0        1843
Vol_26           29          1   1653.0        1635   1909.0        1843
Vol_41            1          1   1222.0        1145   1432.0        1402
Vol_102           7          7   2156.0        2140   2313.0        2256

        UniqueCarrier  FlightNum TailNum  ActualElapsedTime  \
Vol_9              US        560  N785AU              137.0
Vol_19             US        566  N708UW              129.0
Vol_26             US        566  N710UW              136.0
Vol_41             US        696  N420US              130.0
Vol_102            US        790  N770UW               77.0

               ...          TaxiIn  TaxiOut  Cancelled  CancellationCode  \
Vol_9          ...               9       11          0               NaN
Vol_19         ...               5       11          0               NaN
Vol_26         ...               5       12          0               NaN
Vol_41         ...               5        9          0               NaN
Vol_102        ...               3       20          0               NaN

        Diverted CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
Vol_9          0           60             0         2              0
Vol_19         0           28             0         1              0
Vol_26         0           18             0         8              0
Vol_41         0           11             0         0              0
Vol_102        0           16             0         1              0

         LateAircraftDelay
Vol_9                    0
Vol_19                   7
Vol_26                   0
Vol_41                  19
Vol_102                  0

[5 rows x 27 columns]

In [60]:
print(extrait.shape)

(18551, 27)

In [61]:
print(extrait.CarrierDelay.describe())

count    18551.000000
mean        44.181769
std         54.353875
min         11.000000
25%         17.000000
50%         27.000000
75%         50.000000
max       1064.000000
Name: CarrierDelay, dtype: float64

### Exercice : chercher comment combiner les 2 conditions précedentes

In [62]:
extrait = df[(df.UniqueCarrier == 'AA') & (df.CarrierDelay > 10)]
print(extrait.head())

            DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
Vol_225981           4          4   1146.0         900   1444.0        1201
Vol_225995           2          2    947.0         930   1809.0        1752
Vol_226003          18          4    950.0         930   1830.0        1752
Vol_226005          22          1   1026.0         930   1832.0        1752
Vol_226010           1          1   1240.0        1200   1514.0        1453

           UniqueCarrier  FlightNum TailNum  ActualElapsedTime  \
Vol_225981            AA          1  N338AA              358.0
Vol_225995            AA          2  N324AA              322.0
Vol_226003            AA          2  N329AA              340.0
Vol_226005            AA          2  N347AA              306.0
Vol_226010            AA          3  N338AA              334.0

                  ...          TaxiIn  TaxiOut  Cancelled  CancellationCode  \
Vol_225981        ...               3       13          0               NaN
Vol_225995        ...               6       23          0               NaN
Vol_226003        ...              17       11          0               NaN
Vol_226005        ...               7       20          0               NaN
Vol_226010        ...               4       17          0               NaN

           Diverted CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  \
Vol_225981        0          163             0         0              0
Vol_225995        0           17             0         0              0
Vol_226003        0           20             0        18              0
Vol_226005        0           40             0         0              0
Vol_226010        0           21             0         0              0

            LateAircraftDelay
Vol_225981                  0
Vol_225995                  0
Vol_226003                  0
Vol_226005                  0
Vol_226010                  0

[5 rows x 27 columns]

In [63]:
print(extrait.shape)

(1740, 27)

### Exercice : extraire le DataFrame des vols ayant parcouru une distance supérieure à la distance moyenne

In [64]:
extrait = df[df.Distance > df.Distance.mean()]
print(extrait.head())

       DayofMonth  DayOfWeek  DepTime  CRSDepTime  ArrTime  CRSArrTime  \
Vol_0           8          1    705.0         700    917.0         915
Vol_1          10          3    705.0         700    920.0         915
Vol_2          12          5    700.0         700    922.0         915
Vol_3          14          7    700.0         700    910.0         915
Vol_4          16          2    724.0         700    921.0         915

      UniqueCarrier  FlightNum TailNum  ActualElapsedTime        ...          \
Vol_0            US        560  N405US              132.0        ...
Vol_1            US        560  N784AU              135.0        ...
Vol_2            US        560  N421US              142.0        ...
Vol_3            US        560  N435US              130.0        ...
Vol_4            US        560  N426US              117.0        ...

       TaxiIn  TaxiOut  Cancelled  CancellationCode Diverted CarrierDelay  \
Vol_0       6        9          0               NaN        0            0
Vol_1       5       10          0               NaN        0            0
Vol_2       8       11          0               NaN        0            0
Vol_3       5        5          0               NaN        0            0
Vol_4       3        9          0               NaN        0            0

       WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay
Vol_0             0         0              0                  0
Vol_1             0         0              0                  0
Vol_2             0         0              0                  0
Vol_3             0         0              0                  0
Vol_4             0         0              0                  0

[5 rows x 27 columns]

In [65]:
extrait.shape

(114257, 27)

In [66]:
extrait.Distance.describe()

count    114257.000000
mean       1302.229649
std         551.560483
min         732.000000
25%         895.000000
50%        1076.000000
75%        1587.000000
max        4962.000000
Name: Distance, dtype: float64